<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Home - Google Drive</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"/>
    <link rel="icon" href="https://www.computerhope.com/issues/pictures/google-drive-logo.png" />
    <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet"/>
    <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
  </head>
  <body>
    <div id="appContainer">
      <div id="profileMenuContainer">
        <button id="profileButton" aria-label="User Profile">
          <img class="profile-pic" src="{{ url_for('static', filename='123.png') }}" alt="{{ user.username }}"/>
        </button>
        <div id="profileMenu">
          <ul>
            <li><a href="/profile/{{ user.id }}">Profile</a></li>
            <li><a href="/logout">Logout</a></li>
          </ul>
        </div>
      </div>
      <div id="notificationContainer">
        <button id="notificationButton">
          <i class="fas fa-bell"></i>
          <span id="badge">0</span>
        </button>

        <div id="notificationMenu">
          <div class="header">
            <h2>Notifications</h2>
            <button id="clearNotifications">Clear All</button>
          </div>
          <p id="notification-status">No notifications</p>
          <ul id="notifications" class="notifications-list"></ul>
        </div>
      </div>
      <h1 id="title">JIOF</h1>
      <div id="content">
        <div id="users">
          <h2>Users</h2>
          <ul>
            {% for user in users %}
            <li>
              <a href="/private_chat/{{ user.id }}">{{ user.username }}</a>
            </li>
            {% endfor %}
          </ul>
        </div>
        <div id="mainArea">
          <div id="messages">
            {% for message in messages %}
            <p>
              <strong>{{ message.sender.username }}</strong> ({{
              message.timestamp.strftime('%Y-%m-%d %H:%M:%S') }}): {{
              message.message_text }}
            </p>
            {% endfor %}
          </div>
          <form id="form" method="POST" action="/send">
            <input id="messagePlace" type="text" name="message" placeholder="Type your message..." required autofocus />
            <input id="sendButton" type="submit" value="Send" aria-label="Send Message" />
          </form>
        </div>
      </div>
      <p><a href="{{ url_for('suggestions') }}">Suggestions</a></p>
    </div>
    <img
      id="decoyImage"
      src="/static/123.png"
      style="display: none; position: fixed; top: 0; left: 0; width: 100vw; height: 100vh; object-fit: cover; z-index: 9999;" />
    <script>
      const currentUserId = {{ user.id }};
    </script>
    <script defer src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>
