<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='loginStyles.css') }}" rel="stylesheet">
</head>
<body>
    <div class="centerBox">
        <h1>Login</h1>
        <form method="POST">
            <div class="txt">
                <input type="text" id="username" name="username" required>
                <label for="username">Username</label>
                <span class="littleBar"></span>
            </div>
            <div class="txt">
                <input type="password" id="password" name="password" required>
                <label for="password">Password</label>
                <span class="littleBar"></span>
            </div>
            {% if error %}
            <div class="error-message">{{ error }}</div>
            {% endif %}
            <input type="submit" value="Login">
            <div class="signupLink">
                Don't have an account? <a href="/register">Register</a>
            </div>
        </form>
    </div>
    
</body>
</html>